html {
  height: 100%;
  background-color: var(--dark-color);

  --default-font-size: min(4vmax, 7vmin, 40px);
  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);
}

body {
  margin: 0;
}

.App {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  height: 90vh; /* fallback if svh isn't handled */
  height: 98svh;
  overflow: auto;
}

h1 {
  all: unset;
  font-size: calc(var(--default-font-size) * 1.2);
  display: block;
  font-weight: bold;
}

small {
  font-size: calc(var(--default-font-size) * 0.5);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 1px 6px;
}

/* Control bar */

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100%;
  border-bottom: 2px solid var(--light-color);
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: min(var(--default-font-size), 10%);
  height: var(--default-font-size);
  background-color: transparent;
  padding: 1px 6px;
}

#pauseButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/pause.svg");
}

#settingsButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/gear.svg");
}

#newGameButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/new_game.svg");
}

#infoButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/info.svg");
}

#heartButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/heart.svg");
}

#installButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/install.svg");
}

#shareButton {
  background-image: url("@skedwards88/shared-components/src/images/icons/share.svg");
}

/* Settings */

.settings {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.7);
}

#settings {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  align-items: stretch;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0.5cm;
}

.setting-description {
  padding: 0 5px 0 0;
}

.setting-info {
  font-size: calc(var(--default-font-size) / 2);
}

#setting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#setting-buttons > button {
  margin: 10px;
}

select {
  font-size: calc(var(--default-font-size) * 0.7);
  font-family: sans-serif;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

input[type="checkbox" i] {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  min-width: calc(var(--default-font-size) * 0.7);
  min-height: calc(var(--default-font-size) * 0.7);
  border-radius: 2px;
  background-color: var(--light-color);
  border: 3px solid var(--light-color);
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

input[type="checkbox" i]:checked {
  background-image: url("@skedwards88/shared-components/src/images/icons/checkmark_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Rules and heart */

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.7);
}

.infoText {
  margin: 2vmax;
}

.info a {
  color: rgb(0 162 255);
}

/*  timer blocker */

#paused {
  text-align: center;
  align-content: center;
}

/* game */

#gribbles {
  display: grid;
  grid-template-areas:
    "controls"
    "stats"
    "foundWords"
    "currentWord"
    "board";
  grid-template-rows:
    auto
    auto
    1fr
    auto
    auto;
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: stats;
  padding: 10px;
  font-size: calc(var(--default-font-size) * 2 / 3);
}

#foundWords {
  grid-area: foundWords;
  display: flex;
  background-color: var(--light-color);
  color: black;
  flex-flow: column wrap;
  min-height: 10vh;
  overflow: auto;
  padding: 10px;
  font-size: calc(var(--default-font-size) / 2);
}

#foundWords > div {
  margin: 3px;
}

.computerWord {
  color: gray;
}

#currentWord {
  grid-area: currentWord;
  text-align: center;
  white-space: pre;
}

#wordResult {
  grid-area: board;
  background-color: var(--dark-color);
  touch-action: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
  animation-duration: 2s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 0.9;
  }
}

#board {
  grid-area: board;
  display: grid;
  background-color: var(--dark-color);
  touch-action: none;
  justify-content: center;
}

#board.rows5 {
  grid-template-columns: repeat(5, 16vmin);
  grid-template-rows: repeat(5, 16vmin);
}

#board.rows4 {
  grid-template-columns: repeat(4, 20vmin);
  grid-template-rows: repeat(4, 20vmin);
}

.letter {
  touch-action: none;
  margin: 4vmin;
  background-color: var(--dark-color);
  font-weight: bold;
  text-align: center;
}

.letter.unavailable {
  color: darkgray;
}

/* Landscape */
@media (orientation: landscape) and (height < 600px) and (width < 600px) {
  #gribbles {
    grid-template:
      "stats currentWord controls" auto "foundWords board controls" 1fr / 1fr auto auto;
  }

  #controls {
    flex-direction: column;
    border: solid var(--light-color);
    border-width: 0 0 0 2px;
    align-items: center;
    height: 100%;
    width: 7vw;
  }

  #controls > button {
    height: min(var(--default-font-size), 10%);
    width: var(--default-font-size);
  }
}

/* Large screen */
@media (height >= 600px) and (width >= 600px) {
  .App {
    width: 50vmin;
    margin-left: auto;
    margin-right: auto;
  }

  #board {
    align-items: center;
    align-self: center;
    justify-items: center;
  }

  #board.rows5 {
    grid-template-columns: repeat(5, 10vmin);
    grid-template-rows: repeat(5, 10vmin);
  }

  #board.rows4 {
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
  }

  #settings,
  #setting-buttons {
    width: fit-content;
  }
}
